flask/*.stl
flask/.idea
flask/__pycache__
flask/__pycache__/*
flask/templates
flask/venv
javascript/data/*
javascript/node_modules/
javascript/dist
javascript/.idea
javascript/.idea/*
javascript/pack*
javascript/webpack*
javascirpt/src/jquery-csv.js
javascirpt/src/jquery.csv.min.js
javascript/src/read_csv.js
scala/.idea
scala/project
scala/target
scala/tutorial
scala/activator.properties
scala/hs_err_pid7520.log
scala/build.sbt
scala/LICENSE
scala/README.md