flask/*.stl
flask/__pycache__
flask/__pycache__/*
flask/templates
flask/venv
javascript/data/*
javascript/node_modules/
javascript/dist
javascript/.idea
javascript/.idea/*
javascript/pack*
javascript/webpack*
scala/.idea
scala/project
scala/target
scala/tutorial
scala/actvator.properties
scala/build.sbt
scala/LICENCE
scala/README.md